body{
	align-items: center;
	background:url(elements2/bg.png);
	margin: 3%;
	display: flex;
	justify-content: center;
}
.corps{
	width: 100%;
	height: 100%;
	background-color:white;
	justify-content: center;
	display: flex;
	width: 994px;
}
.main{
	width: 900px;
	font-size:13px;
    font-family: 'Lato', sans-serif;
}
.titre{
	display: flex;
	flex-direction: row;
	height: 150px;
	width: 100%;
	color:#505050;
}
.titretext{
	height: 100%;
	width: 90%;
	margin-top: 50px;
}
.map{
	display: flex;
	justify-content: flex-end;
	height: 22px;
	width: 34px;
	background:url(elements2/mag.png);
	background-position: contain;
	background-repeat: no-repeat;
	margin-top: 80%;
}
h1{
	font-family: "Terminal Dosis", sans-serif;
	font-size: 52px;
	font-weight: 100;
	margin: 0;
	opacity: 0.8;
}

ul li a{
	text-decoration: none;
	color:#505050;
}
ul li{
	margin: 2%;
}
#menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 59px;
	background-color:#FCFDFD;
	border-top: 1px solid rgba(5, 0, 0, .2);
	border-bottom: 1px solid rgba(5, 0, 0, .2);
	margin-top: 25px;
    list-style-type: none;
    padding-left: 0;
    top: 0;
    left: 0;
}
#menu li{
    width: 150px;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
#menu li a:link, #menu li a:visited{
    height: 1%;
    color: black;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
}
#menu li a:hover {background-color:#A6A6A6;}
#menu li a:active {background-color: #A6A6A6;}
#menu .sousMenu{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#menu .sousMenu li{
    width: 149px;
}
#menu .sousMenu li a:link, #menu .sousMenu li a:visited{
    display: block;
    color: black;
    margin: 0;
    border: 0;
    text-decoration: none;
}
#menu .sousMenu li a:hover{
    background-image: none;
    background-color: #A6A6A6;
}
#menu li:hover > .sousMenu {display: block;}
.greylight{
	color:#A6A6A6;

}
.photo{
	height: 508px;
	background:url(elements2/image1.jpg);
	background-size: cover;

}
.text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text h3{
	margin:  0;
	font-size: 190%;
	font-family: "Terminal Dosis", sans-serif;
	font-size:28px;

}
.espace{
	width: 100%;
	height: 38px;
	color:transparent;
}
.espace2{
	width: 100%;
	height: 22px;
	color:transparent;
}
.espace3{
	width: 100%;
	height: 30px;
	color:transparent;
}
.mini{
	font-size: 120%;
	margin: 0;
	color: #505050;
}
.para{
	opacity: 0.8;
}
.footer{
	display: flex;
	flex-direction: column;
}
.espace4{
	width: 100%;
	height: 40px;
}
.older{
	align-self: center;
	height: 75px;
}
.articles{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 235px;
}
.textbas h2{
	font-family: "Terminal Dosis", sans-serif;
}